@import "tailwindcss";

/* Add any global styles or CSS variable definitions here */
:root {
  /* Default theme variables - can be overridden per tenant */
  --primary-color: #4f46e5; /* Example: Indigo */
  --secondary-color: #ec4899; /* Example: Pink */
  --background-color: #ffffff;
  --text-color: #1f2937;
  --logo-url: url("/default-logo.png"); /* Default logo path */
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

.toast-bg-color-success {
  background-color: var(--color-green-100);
}

.toast-bg-color-error {
  background-color: var(--color-red-100);
}

.toast-bg-color-info {
  background-color: var(--color-cyan-100);
}

.toast-bg-color-warning {
  background-color: var(--color-yellow-100);
}
